<div class="containerTrips" ng-controller="SignUpCtrl as signUpForm">
  <form class="form-horizontal">
    <fieldset>

      <legend>Create an Account</legend>

      <div class="form-group">
        <label class="col-md-4 control-label" for="first_name">First Name</label>
        <div class="col-md-4">
          <input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="firstName">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="last_name">Last Name</label>
        <div class="col-md-4">
          <input id="textinput" name="textinput" type="text"  class="form-control input-md" ng-model="lastName">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="username">Username</label>
        <div class="col-md-4">
          <input id="textinput" name="textinput" type="text"  class="form-control input-md" ng-model="username">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="email">Email Address</label>
        <div class="col-md-4">
          <input id="textinput" name="textinput" type="text"  class="form-control input-md" ng-model="email">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="password">Password</label>
        <div class="col-md-4">
          <input id="textinput" name="textinput" type="password"  class="form-control input-md" ng-model="password">
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-8">
          <a class="btn btn-md btn-primary"  ui-sref="home" role="button" ng-click="signUpForm.addUser(firstName, lastName, email, username, password)">Submit »</a>
        </div>
      </div>

    </fieldset>
  </form>
</div>
