<div class="container">
  <div class="jumbotron">
    <h1>BikeThing</h1>
    <p>BikeThing is an interface to map and visually track daily segments of longer, multi-day bike trips. </p>

    <p>Pick a route. Go on a bike tour.</p>

    <p>Keep track of logistics.</p>

    <p>
        <a class="btn btn-md btn-primary"  ui-sref="ltindex" role="button">Go to Longtrips »</a>

    </p>

    <p>
        <a class="btn btn-md btn-primary"  ui-sref="createUser" role="button">Create Account »</a>

    </p>

    <p>
        <a class="btn btn-md btn-primary"  ui-sref="login" role="button">Login »</a>

    </p>
  </div>
</div>
