<div class="container">
  <div class="jumbotron">
    <h1>BikeThing</h1>
    <p>BikeThing is going to be a thing. Pick a route. Go on a bike tour. Keep track of logistics. </p>
    <p>Dope Mindset.</p>
    <p>
        <a class="btn btn-md btn-primary"  ui-sref="ltindex" role="button">Go to Longtrips »</a>

    </p>

    <p>
        <a class="btn btn-md btn-primary"  ui-sref="createUser" role="button">Create Account »</a>

    </p>

    <p>
        <a class="btn btn-md btn-primary"  ui-sref="login" role="button">Login »</a>

    </p>
  </div>
</div>
