<div class="containerTrips" ng-controller="loginCtrl as login">
  <form class="form-horizontal">
    <fieldset>

      <legend>Log in to your Account</legend>

      <div class="form-group">
        <label class="col-md-4 control-label" for="email">Email</label>
        <div class="col-md-4">
          <input id="textinput" name="textinput" type="text" placeholder="ex: name@email.com" class="form-control input-md" ng-model="email">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="password">Password</label>
        <div class="col-md-4">
          <input id="textinput" name="textinput" type="password" placeholder="****" class="form-control input-md" ng-model="password">
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-8">
          <a class="btn btn-md btn-primary" role="button" ng-click="login.signIn(email, password)">Submit »</a>
        </div>
      </div>

    </fieldset>
  </form>
</div>
