<div class="containerTrips">
  <div ng-controller="TourCtrl as trips" >
    <!-- <div class="row col-md-offset-3 col-xs-offset-1"> -->

    <!-- </div>
      <div>
        <h2>{{ trips.tour().tripName }}</h2>
        <h2>{{ trips.tour().year }}</h2>
        <h2>({{ trips.tour().origin }} to {{ trips.tour().destination }})</h2>
      </div>
    </div> -->


    <div class="jumbotron">
      <h1>{{ trips.tour().tripName }}</h1>
      <h3>{{ trips.tour().origin }} to {{ trips.tour().destination }} </h3>
      <p>{{ trips.tour().year }}</p>
      <!-- <p>{{ trips.tour().id }}</p> -->
      <p>
          <a class="btn btn-md btn-primary"  ui-sref="ltindex" role="button">Go to Longtrips »</a>

          <a class="btn btn-md btn-danger"  ui-sref="ltindex" role="button" ng-click="trips.deleteLongtrip()">Delete this trash</a>

      </p>
    </div>

    <div style="width: 100%; float:center; height: 100%">

     <ng-map zoom="14"  style="height:90%; width:100%" >
       <directions
         draggable="true"
         travel-mode="DRIVING"
         origin="{{ trips.tour().origin }}"
         destination="{{ trips.tour().destination }}">
       </directions>
     </ng-map>
     Directions path length:
       {{map.directionsRenderers[0].directions.routes[0].overview_path.length}}
   </div>


  </div>
</div>
