
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container" ng-controller="loginCtrl as log">
    <div class="navbar-header col-xs-9">
        <a class="navbar-brand" ui-sref="ltindex"> <i class="material-icons">directions_bike</i> BikeThing</a>
    </div>
    <div id="navbar" ng-controller="SignOutCtrl as logout">
      <ul class="nav navbar-nav navbar-right">
        <li class="col-xs-3 col-lg-12" ><a href="home" ng-show='log.isSignedIn()'  ng-click="logout.signOut()" ng-click="logout.signOut()">Logout</a></li>
        </li>
      </ul>
    </div>
  </div>
</nav>
